#container {
	margin: 0 auto;
	width: 60%;
}

#title {
	text-align: center;
}

ul {
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 0;
	list-style: none;
}

li {
	height: 3em;
	margin-bottom: .3em;
  background-color: palegreen;
  border: 1px solid rgba(42, 41, 41, 0.21);
}

.nameText {
	margin-left: 1em;
}

.pointText {
	float: right;
	margin-right: 1em;
}

.playerText{
	position: absolute;
	font-size: 1.5em;
	padding: .5em;
}