body {
	background-color: #F5F5F5;
}

#container {
	margin: 0 auto;
	width: 75%;
}

.logoContainer {
   width: 25em;
   margin-left: auto;
	 margin-right: auto;
	 margin-top: 5em;
	 margin-bottom: 5em;
}

.catchPhrase {
  margin-top: -.8em;
  font-size: 1.8em;
	font-weight: 300;
}

.shieldImage {
	float: left;
}

ul {
	margin-top: 1em;
	padding-left: 0;
	list-style: none;
}

li {
	height: 4em;
	margin-bottom: .5em;
  background-color: palegreen;
}

#add {
	margin-right: 2em;
}

#clear {
	display: none;
}

.input-field {
	display: inline-block;
	width: 15em;
}

.playerText{
	position: absolute;
	font-size: 1.5em;
	padding: .5em;
}
